@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p {
        @apply inline align-bottom leading-relaxed text-gray-700 dark:text-gray-100 text-lg;
    }
}

@layer components {
    /* TailwindCSS Classes */

    .fast-animate {
        @apply transition ease-in-out duration-100;
    }

    .slow-animate {
        @apply transition ease-in-out duration-300;
    }

    .header-option {
        @apply rounded-lg p-1 text-gray-700 text-[22px] hover:bg-gray-200 hidden md:block cursor-pointer searchbox-md:text-[18px] slow-animate hover:text-black;
    }

    .header-icon {
        @apply h-9 w-6 cursor-pointer lg:w-9 lg:p-1 inline text-gray-700;
    }

    .page-sizing {
        @apply h-auto w-full mt-5;
    }

    .page-default {
        @apply page-sizing flex justify-center screen-xxl:mt-12 gap-5 px-2 pb-24 sm:px-24 lg:px-12 screen-xxxl:px-36 flex-wrap-reverse screen-xxl:flex-nowrap;
    }

    .list-container {
        @apply w-full flex justify-center screen-xxl:justify-start gap-5 flex-wrap lg:w-auto screen-xxl:w-full screen-xxxl:flex-nowrap;
    }

    .primary-button {
        @apply block rounded-lg bg-[#6a89cc] text-amber-50 uppercase text-lg transition-colors hover:bg-[#546de5] cursor-pointer text-center;
    }

    .secondary-button {
        @apply block rounded-lg bg-white dark:bg-black border border-gray-200 text-black text-lg cursor-pointer text-center;
    }

    .card {
        @apply rounded-md border-[1px] shadow-md hover:shadow-2xl slow-animate;
    }

    .banner-button {
        @apply secondary-button h-8 w-52 flex justify-center items-center transition-colors text-center;
    }

    .settings-button {
        @apply secondary-button h-12 w-32 flex justify-center items-center transition-colors text-center text-[#546de5] hover:bg-[#6a89cc];
    }

    /* Regular SCSS Classes */

    $primary-color: #6a89cc;

    * {
        font-family: "Optima", sans-serif;
    }

    .dropdown:hover .dropdown-content {
        display: flex;
    }

    .drawer * {
        background-color: black;
    }

    .input-mask {
        & .switch {
            position: relative;
            display: block;
            width: 60px;
            height: 34px;

            & input {
                opacity: 0;
                width: 0;
                height: 0;

                &:checked + .slider {
                    background-color: $primary-color;
                }

                &:checked + .slider:before {
                    transform: translateX(26px);
                }

                &:focus + .slider {
                    box-shadow: 0 0 1px $primary-color;
                }
            }

            & .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                transition: .1s;
                -webkit-transition: .1s;

                &:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    transition: .1s;
                    -webkit-transition: .1s;
                }

                &.round {
                    border-radius: 34px;

                    &:before {
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}