/* Login Page */
$input-mask-primary: #f5f6fa;
$input-box-border-primary: #6a89cc;
$input-box-border-secondary: #546de5;
$input-mask-text: black;
$input-box-text: black;

.input-mask {
    background-color: $input-mask-primary;
    box-shadow: rgba(100, 100, 111, 0.3) 0 7px 29px 0;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

.input-box {
    width: 80%;
    position: relative;

    & > input:-webkit-autofill,
    & > input:-webkit-autofill:hover,
    & > input:-webkit-autofill:focus,
    & > input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 1000px $input-mask-primary inset;
    }

    & > input {
        outline: none;
        padding: 10px;
        border: 1px solid $input-box-border-primary;
        height: 48px;
        width: 100%;
        border-radius: 5px;
        font-size: 1.3em;
        background-color: $input-mask-primary;
        color: $input-box-text;
        transition: .5s;
        -webkit-transition: .5s;

        &:focus,
        &:valid {
            border: 1px solid $input-box-border-secondary;
        }

        &:focus ~ span,
        &:valid ~ span {
            color: $input-box-border-secondary;
            transform: translateX(10px) translateY(-7px);
            font-size: 0.65em;
            padding: 0 10px;
            background: $input-mask-primary;
        }
    }

    & > span {
        position: absolute;
        left: 0;
        padding: 10px;
        pointer-events: none;
        font-size: 1em;
        color: $input-box-border-primary;
        text-transform: uppercase;
        transition: .3s;
        -webkit-transition: .3s;
    }
}

.switch {
    position: relative;
    display: block;
    width: 60px;
    height: 34px;

    & input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: #2196F3;
        }

        &:checked + .slider:before {
            transform: translateX(26px);
        }

        &:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }
    }

    & .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        -webkit-transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
            -webkit-transition: .4s;
        }

        &.round {
            border-radius: 34px;

            &:before {
                border-radius: 50%;
            }
        }
    }
}

/* ... */