@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p {
        @apply inline align-bottom leading-relaxed text-gray-700 text-lg;
    }
}

@layer components {
    /* TailwindCSS Classes */

    .fast-animate {
        @apply transition ease-in-out duration-100;
    }

    .slow-animate {
        @apply transition ease-in-out duration-300;
    }

    .header-option {
        @apply rounded-lg p-1 text-gray-700 text-[22px] hover:bg-gray-200 hidden md:block cursor-pointer searchbox-md:text-[18px] slow-animate hover:text-black;
    }

    .header-icon {
        @apply h-9 w-6 cursor-pointer lg:w-9 lg:p-1 inline text-gray-700;
    }

    .page-sizing {
        @apply h-auto w-full mt-5;
    }

    .primary-button {
        @apply block rounded-lg bg-[#6a89cc] text-amber-50 uppercase text-lg transition-colors hover:bg-[#546de5] cursor-pointer text-center;
    }

    .secondary-button {
        @apply block rounded-lg bg-white border border-gray-200 text-black text-lg cursor-pointer text-center;
    }

    .card {
        @apply rounded-md border-[1px] shadow-md hover:shadow-2xl slow-animate;
    }

    .cluster-button {
        @apply secondary-button h-12 w-52 flex justify-center items-center transition-colors text-center;
    }

    /* Regular SCSS Classes */

    $primary-background: #f5f6fa;
    $primary-color: #6a89cc;
    $secondary-color: #546de5;

    * {
        font-family: "Optima", sans-serif;
    }

    .dropdown:hover .dropdown-content {
        display: flex;
    }

    .pattern-bg {
        background-image: url('../public/assets/pattern.svg');
    }

    .input-mask {
        background-color: $primary-background;
        box-shadow: rgba(100, 100, 111, 0.3) 0 7px 29px 0;
        display: grid;
        grid-template-rows: repeat(3, 3fr);

        & .switch {
            position: relative;
            display: block;
            width: 60px;
            height: 34px;

            & input {
                opacity: 0;
                width: 0;
                height: 0;

                &:checked + .slider {
                    background-color: $primary-color;
                }

                &:checked + .slider:before {
                    transform: translateX(26px);
                }

                &:focus + .slider {
                    box-shadow: 0 0 1px $primary-color;
                }
            }

            & .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                transition: .1s;
                -webkit-transition: .1s;

                &:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    transition: .1s;
                    -webkit-transition: .1s;
                }

                &.round {
                    border-radius: 34px;

                    &:before {
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .input-box {
        width: 80%;
        position: relative;

        & > input:-webkit-autofill,
        & > input:-webkit-autofill:hover,
        & > input:-webkit-autofill:focus,
        & > input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 1000px $primary-background inset;
        }

        & > input {
            outline: none;
            padding: 10px;
            border: 1px solid $primary-color;
            height: 48px;
            width: 100%;
            border-radius: 5px;
            font-size: 1.3em;
            background-color: $primary-background;
            color: black;
            transition: .1s;
            -webkit-transition: .1s;

            &:focus,
            &:valid {
                border: 2px solid $secondary-color;
            }

            &:focus ~ span,
            &:valid ~ span {
                color: $secondary-color;
                transform: translateX(10px) translateY(-7px);
                font-size: 0.65em;
                padding: 0 10px;
                background: $primary-background;
            }
        }

        & > span {
            position: absolute;
            left: 0;
            padding: 10px;
            pointer-events: none;
            font-size: 1em;
            color: $primary-color;
            text-transform: uppercase;
            transition: .2s;
            -webkit-transition: .2s;
        }
    }
}